<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Pandas y GLOB  </h1></center>

<center><h2 style="font-size:2em;color:#840700">   Manipulación de archivos con GLOB </h4></center>

<br>
<table>
<col width="250">
<col width="750">
<tr>
<td><img src="figuras/glob.png" align="left" style="width:150px"/></td>
<td>

La función **glob.glob()** devuelve una lista con las entradas que coincidan con el patrón especificado en *pathname*.

**glob.glob( *pathname* , recursive=False)** 
    
<br>
</td>
</tr>
</table>

## Integrantes

Nombre 1: María de Guadalupe Ortega Perera

Nombre 2: Enrique Yair Castellanos Gutiérrez

# Librerías

Cargando las bibliotecas que necesitamos

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

## Mostrando todos los archivos de "/datos"

La salida serán los archivos en forma de lista

In [3]:
# establecer ruta de búsqueda  
path = 'datos' #Definir una variable
files = glob.glob(path + '/*') #todos los archivos
files

['datos\\informacion.txt',
 'datos\\semestre1a.csv',
 'datos\\semestre1b.csv',
 'datos\\semestre1c.csv',
 'datos\\semestre2a.csv',
 'datos\\semestre2b.csv',
 'datos\\semestre2c.csv',
 'datos\\semestre3a.csv',
 'datos\\semestre3b.csv',
 'datos\\semestre3c.csv',
 'datos\\semestres.txt',
 'datos\\Ventas']

## Mostrando  los archivos  **.txt** de "/datos"

La salida serán los archivos .txt en forma de lista

In [4]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos txt  
path = 'datos'
files = glob.glob(path + '/*.txt')
files

['datos\\informacion.txt', 'datos\\semestres.txt']

## Mostrando  los archivos .csv de "/datos"

La salida serán los archivos .csv en forma de lista

In [5]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/*.csv')
files

['datos\\semestre1a.csv',
 'datos\\semestre1b.csv',
 'datos\\semestre1c.csv',
 'datos\\semestre2a.csv',
 'datos\\semestre2b.csv',
 'datos\\semestre2c.csv',
 'datos\\semestre3a.csv',
 'datos\\semestre3b.csv',
 'datos\\semestre3c.csv']

## Concatenando todos los archivos .csv para formar un dataframe

In [10]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/*.csv')
print(files)
# crear una lista vacía para almacenar  los dataframes
lista_dfs=[]
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    print(temp_df.shape) #despliega las filas y columnas de los dataframes
    lista_dfs.append(temp_df)

# concatenación
df = pd.concat(lista_dfs, axis=0)
df.head()
print('Final=', df.shape) #total de filas de los datoframes

['datos\\semestre1a.csv', 'datos\\semestre1b.csv', 'datos\\semestre1c.csv', 'datos\\semestre2a.csv', 'datos\\semestre2b.csv', 'datos\\semestre2c.csv', 'datos\\semestre3a.csv', 'datos\\semestre3b.csv', 'datos\\semestre3c.csv']
(10, 5)
(11, 5)
(11, 5)
(7, 5)
(7, 5)
(7, 5)
(5, 5)
(6, 5)
(5, 5)
Final= (69, 5)

## Concatenando los archivos .csv del primer semestre 

El comodín * representa desde nada, hasta cualquier cantidad de caracteres y dígitos

In [13]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre1*.csv') #'*' --> varios caracteres
#files = glob.glob(path + '/semestre1?.csv') --> se obtiene la misma salida, '?' solo un caracter
files
# crear una lista vacía para almacenar  los dataframes
lista_dfs=[]
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    print(temp_df.shape) #despliega las filas y columnas de los dataframes
    lista_dfs.append(temp_df)

# concatenación
df = pd.concat(lista_dfs, axis=0)
df.head()
print('Final=', df.shape)

(10, 5)
(11, 5)
(11, 5)
Final= (32, 5)

## Concatenando los archivos .csv del primer y segundo semestre 

El comodín **[ ]**  representa un rango,  ya sea de caracteres o de números.

In [15]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre[1-2]?.csv') #'/semestre[1-2]*'
files
# crear una lista vacía para almacenar  los dataframes
lista_dfs=[]
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    print(temp_df.shape) #despliega las filas y columnas de los dataframes
    lista_dfs.append(temp_df)

# concatenación
df = pd.concat(lista_dfs, axis=0)
df.head()
print('Final=', df.shape)

(10, 5)
(11, 5)
(11, 5)
(7, 5)
(7, 5)
(7, 5)
Final= (53, 5)

## Concatenando los archivos .csv de los grupos "a"
El comodín **?** Representa un único carácter.

In [17]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre?a.csv')
files

# crear una lista vacía para almacenar  los dataframes
lista_dfs=[]

# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    print(temp_df.shape) #despliega las filas y columnas de los dataframes
    lista_dfs.append(temp_df)

# concatenación
df = pd.concat(lista_dfs, axis=0)
df.head()
print('Final=', df.shape)

(10, 5)
(7, 5)
(5, 5)
Final= (22, 5)

## Concatenando los archivos .csv de los grupos "a" y "b"

El comodín **[ ]**  representa un rango,  ya sea de caracteres o de números.

In [20]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre?[a-b].csv')
files

# crear una lista vacía para almacenar  los dataframes
lista_dfs=[]

# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file) #variable temporal
    print(temp_df.shape) #despliega las filas y columnas de los dataframes
    lista_dfs.append(temp_df)

# concatenación
df = pd.concat(lista_dfs, axis=0)
df.head()
print('Final=', df.shape)

(10, 5)
(11, 5)
(7, 5)
(7, 5)
(5, 5)
(6, 5)
Final= (46, 5)

# TAREA

<div class="alert alert-success">
<b>EJERCICIO 1: Concatenar todos los archivos  .csv  </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>  
  <li> d) El nombre que más se repite </li>  
  <li> e) El apellido que más se repite </li>       
     
</ul>
</div>

In [8]:
#Concatenando archivos csv
path = 'datos'
files = glob.glob(path + '/*.csv')
print(files)

# crear una lista vacía para almacenar  los dataframes
lista_dfs=[]

# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    lista_dfs.append(temp_df)

# concatenación
df = pd.concat(lista_dfs, axis=0)
df.head()
print('Final=', df.shape) #total de filas de los datoframes

['datos\\semestre1a.csv', 'datos\\semestre1b.csv', 'datos\\semestre1c.csv', 'datos\\semestre2a.csv', 'datos\\semestre2b.csv', 'datos\\semestre2c.csv', 'datos\\semestre3a.csv', 'datos\\semestre3b.csv', 'datos\\semestre3c.csv']
Final= (69, 5)

In [11]:
# a) Encontrar el promedio y desviación estándar
print('Promedio =', df['CALIFICACION'].mean())
print('Desviación estándar =', df['CALIFICACION'].std())

Promedio = 81.72463768115942
Desviación estándar = 18.72391052196206

In [14]:
# b) Datos del estudiante(s) con la calificación más alta 
df.sort_values('CALIFICACION', ascending=False).head()

   NOMBRE APELLIDO  CALIFICACION      CARRERA   CIUDAD
2    RICK  SANCHEZ           100       FISICA   MERIDA
1    JUAN    BALAM           100       FISICA    MOTUL
7   PEDRO  ALARCON            99   RENOVABLES  KANASIN
1  MARTIN     CANO            99       FISICA    TICUL
4   PEDRO    MARIN            98  MECATRONICA   MERIDA

In [15]:
# c) Datos del estudiante(s) con la calificación más baja
df.sort_values('CALIFICACION').head()

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
6  VICENTE  CABALLERO             8  MECATRONICA  MERIDA
5   MANUEL    RODENAS            12   RENOVABLES  MERIDA
0  ENRIQUE     MORENO            40   RENOVABLES  MERIDA
1     JUAN     ARENAS            47       FISICA  MERIDA
8     RAUL     TORRES            52  MECATRONICA  MERIDA

In [24]:
# d) El nombre que más se repite 
df['NOMBRE'].value_counts().head(2)

NOMBRE
PEDRO    4
MARIA    4
Name: count, dtype: int64

In [27]:
# e) El apellido que más se repite 
df['APELLIDO'].value_counts().head(2)

APELLIDO
BALAM    4
MAY      4
Name: count, dtype: int64

<div class="alert alert-success">
<b>EJERCICIO 2: Concatenar todos los archivos  .csv del primer semestre </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>   
</ul>
</div>

In [38]:
# Concatenar todos los archivos .csv del primer semestre 
path = 'datos'
files = glob.glob(path + '/semestre1?.csv')
print(files)
# crear una lista vacía para almacenar  los dataframes
lista_dfs=[]
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    lista_dfs.append(temp_df)

# concatenación
df_psemestre = pd.concat(lista_dfs, axis=0)
df_psemestre.head()
print('Final=', df_psemestre.shape)

['datos\\semestre1a.csv', 'datos\\semestre1b.csv', 'datos\\semestre1c.csv']
Final= (32, 5)

In [33]:
# a) Encontrar el promedio y desviación estándar 
print('Promedio =', df_psemestre['CALIFICACION'].mean())
print('Desviación estándar =', df_psemestre['CALIFICACION'].std())

Promedio = 78.34375
Desviación estándar = 20.05574388805426

In [34]:
# b) Datos del estudiante(s) con la calificación más alta 
df_psemestre.sort_values('CALIFICACION', ascending=False).head()

      NOMBRE APELLIDO  CALIFICACION      CARRERA   CIUDAD
1       JUAN    BALAM           100       FISICA    MOTUL
7      PEDRO  ALARCON            99   RENOVABLES  KANASIN
6     JOSEFA    LOPEZ            98  MECATRONICA   MERIDA
0     ISMAEL   LOZANO            98  MECATRONICA   MERIDA
9  FRANCISCO     PECH            96       FISICA   MERIDA

In [35]:
# c) Datos del estudiante(s) con la calificación más baja 
df_psemestre.sort_values('CALIFICACION').head()

     NOMBRE APELLIDO  CALIFICACION      CARRERA  CIUDAD
5    MANUEL  RODENAS            12   RENOVABLES  MERIDA
0   ENRIQUE   MORENO            40   RENOVABLES  MERIDA
8      RAUL   TORRES            52  MECATRONICA  MERIDA
4   PASCUAL      MAY            58       FISICA  MERIDA
10      ANA  NAVARRO            59  MECATRONICA  MERIDA

<div class="alert alert-success">
<b>EJERCICIO 3: Concatenar todos los archivos .csv de los grupos "c", es decir semestre1c, semestre2c y semestre3c </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>   
</ul>
</div>

In [43]:
# Concatenar todos los archivos .csv de los grupos "c", es decir semestre1c, semestre2c y semestre3c
path = 'datos'
files = glob.glob(path + '/semestre?c.csv')
print(files)

# crear una lista vacía para almacenar  los dataframes
lista_dfs=[]

# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    lista_dfs.append(temp_df)

# concatenación
df_gruposc = pd.concat(lista_dfs, axis=0)
df_gruposc.head()
print('Final=', df_gruposc.shape)

['datos\\semestre1c.csv', 'datos\\semestre2c.csv', 'datos\\semestre3c.csv']
Final= (23, 5)

In [46]:
# a) Encontrar el promedio y desviación estándar
print('Promedio =', df_gruposc['CALIFICACION'].mean())
print('Desviación estándar =', df_gruposc['CALIFICACION'].std())

Promedio = 84.08695652173913
Desviación estándar = 20.676981148299056

In [49]:
# b) Datos del estudiante(s) con la calificación más alta
df_gruposc.sort_values('CALIFICACION', ascending=False).head()

   NOMBRE  APELLIDO  CALIFICACION      CARRERA  CIUDAD
2    RICK   SANCHEZ           100       FISICA  MERIDA
1  MARTIN      CANO            99       FISICA   TICUL
0  ISMAEL    LOZANO            98  MECATRONICA  MERIDA
6  JOSEFA     LOPEZ            98  MECATRONICA  MERIDA
3   ANGEL  MORCILLO            98  MECATRONICA  MERIDA

In [50]:
# c) Datos del estudiante(s) con la calificación más baja 
df_gruposc.sort_values('CALIFICACION').head()

     NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
6   VICENTE  CABALLERO             8  MECATRONICA  MERIDA
10      ANA    NAVARRO            59  MECATRONICA  MERIDA
8   ALBERTO      PEREZ            63  MECATRONICA  MERIDA
7      LUIS     ALFARO            65       FISICA  MERIDA
4     JESUS     ORTEGA            74  MECATRONICA  MERIDA

<div class="alert alert-success">
<b>EJERCICIO 4: Concatenar todos los archivos .csv de los semestres 2 y 3  </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>   
</ul>
</div>

In [51]:
# Concatenar todos los archivos .csv de los semestres 2 y 3 
path = 'datos'
files = glob.glob(path + '/semestre[2-3]?.csv')
print(files)
# crear una lista vacía para almacenar  los dataframes
lista_dfs=[]
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    lista_dfs.append(temp_df)

# concatenación
df_s23 = pd.concat(lista_dfs, axis=0)
df_s23.head()
print('Final=', df_s23.shape)

['datos\\semestre2a.csv', 'datos\\semestre2b.csv', 'datos\\semestre2c.csv', 'datos\\semestre3a.csv', 'datos\\semestre3b.csv', 'datos\\semestre3c.csv']
Final= (37, 5)

In [53]:
# a) Encontrar el promedio y desviación estándar 
print('Promedio =', df_s23['CALIFICACION'].mean())
print('Desviación estándar =', df_s23['CALIFICACION'].std())

Promedio = 84.64864864864865
Desviación estándar = 17.230812543258107

In [54]:
# b) Datos del estudiante(s) con la calificación más alta 
df_s23.sort_values('CALIFICACION', ascending=False).head()

   NOMBRE APELLIDO  CALIFICACION      CARRERA  CIUDAD
2    RICK  SANCHEZ           100       FISICA  MERIDA
1  MARTIN     CANO            99       FISICA   TICUL
4   PEDRO    MARIN            98  MECATRONICA  MERIDA
1   JULIA  RODENAS            98       FISICA  MERIDA
2  DANIEL      MAY            98   RENOVABLES  MERIDA

In [55]:
# c) Datos del estudiante(s) con la calificación más baja
df_s23.sort_values('CALIFICACION').head()

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
6  VICENTE  CABALLERO             8  MECATRONICA  MERIDA
1     JUAN     ARENAS            47       FISICA  MERIDA
2   JAVIER      PEREZ            57   RENOVABLES  MERIDA
3     LUIS      PEREZ            70  MECATRONICA   MOTUL
1    ELENA   CASTILLO            73  MECATRONICA  MERIDA