<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Ejercicio  </h1></center>

<center><h2 style="font-size:2em;color:#840700">  Incendios en México </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/incendio.jpg" align="left" style="width:500px"/></td>
<td>

* **La Comisión Nacional Forestal (CONAFOR)** es la institución federal encargada de operar, desde septiembre de 2002, el Programa Nacional de Protección contra Incendios Forestales en México, cuyo objetivo es proteger los recursos forestales de la presencia de incendios y atacar las causas que los originan. Para ello despliega acciones específicas en materia de prevención, detección, control y combate. 

* **¿Qué es un incendio forestal?** Un incendio forestal es la propagación libre y no programada del fuego sobre la vegetación en los bosques selvas y zonas áridas y semiáridas. 

* Se calcula que **las actividades humanas ocasionan el 99%** de éstos incendios y sólo el resto tiene como causa fenómenos naturales 
    
<br>
</td>
</tr>
</table>

# Librerías

Cargando las bibliotecas que necesitamos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# cargar el archivo datos/Serie_historica_anual_incendios_2017.csv en un dataframe llamado df
df=pd.read_csv("datos/Serie_historica_anual_incendios_2017.csv")
df

,Número de Incendio,Clave del incendio,Grados,Minutos,Segundos,Grados.1,Minutos.1,Segundos.1,Clave municipio,Estado,...,Tamaño,Deteccion,Llegada,Duracion HMS,Duracion H,Costos MXN,Superficie Salvada,CO2 emitido,CO2 Evito emitir,Region
0,324,17-09-0324,19,5,55.70,99,9,51.54,12,Ciudad de México,...,Mayor a 100 Hectáreas,00:05:00,00:40:00,04:00:00,220.00,256217.00,2251.09,8678.63,163566.56,Centro
1,430,17-09-0430,19,34,55.30,99,7,32.60,5,Ciudad de México,...,0 a 5 Hectáreas,00:05:00,00:11:00,08:00:12,80.00,3855.00,22.86,17.65,269.04,Centro
2,411,17-09-0411,19,10,11.40,99,5,49.50,9,Ciudad de México,...,0 a 5 Hectáreas,00:05:00,01:40:00,03:12:12,75.20,2881.00,16.77,58.56,892.57,Centro
3,328,17-09-0328,19,6,38.80,99,8,59.90,9,Ciudad de México,...,51 a 100 Hectáreas,00:05:00,01:27:00,05:07:00,53.12,68497.00,821.24,2868.36,43719.62,Centro
4,402,17-09-0402,19,9,1.70,99,16,17.30,12,Ciudad de México,...,Mayor a 100 Hectáreas,00:05:00,00:25:00,23:05:00,47.08,12770.00,2219.24,7538.24,118143.58,Centro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8867,623,17-08-0623,27,59,55.75,107,37,46.90,9,Chihuahua,...,21 a 50 Hectáreas,00:10:00,03:00:00,00:00:00,0.00,3624.00,609.68,1324.00,21816.71,Norte
8868,126,17-10-0126,24,48,49.86,105,9,22.96,39,Durango,...,51 a 100 Hectáreas,00:20:00,00:30:00,00:00:00,0.00,3174.00,1066.94,869.41,13251.50,Norte
8869,1303,17-15-1303,19,3,22.47,99,26,20.16,63,México,...,11 a 20 Hectáreas,00:00:00,00:00:00,00:00:00,0.00,3084.00,228.63,798.54,12171.39,Centro
8870,40,17-26-0040,28,30,52.47,109,14,35.02,69,Sonora,...,Mayor a 100 Hectáreas,01:30:00,03:00:00,00:00:00,0.00,2601.02,1758.01,3628.49,55305.44,Noroeste
8871,37,17-26-0037,28,18,1.70,109,2,55.30,69,Sonora,...,21 a 50 Hectáreas,03:00:00,11:00:00,00:00:00,0.00,2469.60,445.37,1045.60,15937.11,Noroeste

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre el número total de filas y columnas </li>
</ul>
</div>

In [4]:
#Numero total de filas y columnas
df.shape

(8872, 37)

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre los nombres de las columnas </li>
</ul>
</div>

In [5]:
#Columnas
df.columns

Index(['Número de Incendio', 'Clave del incendio', 'Grados', 'Minutos',
       'Segundos', 'Grados.1', 'Minutos.1', 'Segundos.1', 'Clave municipio',
       'Estado', 'Municipio', 'Predio', 'Causa', 'Fecha Inicio',
       'Fecha Termino', 'Mes Acontecimiento', 'Duración días',
       'Tipo de incendio', 'Tipo Vegetacion', 'Tipo Impacto',
       'Arbolado Adulto', 'Renuevo', 'Arbustivo', 'Herbaceo', 'Hojarasca',
       'Suelo Organico', 'Total Hectareas', 'Tamaño', 'Deteccion', 'Llegada',
       'Duracion HMS', 'Duracion H', 'Costos MXN', 'Superficie Salvada',
       'CO2 emitido', 'CO2 Evito emitir', 'Region'],
      dtype='object')

Columnas importantes:
* Estado: Entidad Federativa
* Municipio: Municipio
* Tipo Impacto: Tipo impacto del incendio
* Causa: Causa del incendio
* Mes Acontecimiento: Mes en el que ocurrió el incendio
* Total Hectareas: Total de suelo afectado en Hectáreas 
* Duracion HMS: Duración en Hora:Minutos:Segundos
* Duracion H-Decimal: Duración en horas decimales

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre el tipo de dato de cada columna </li>
</ul>
</div>

In [6]:
#tipos de variables
df.dtypes

Número de Incendio      int64
Clave del incendio     object
Grados                 object
Minutos                 int64
Segundos              float64
Grados.1                int64
Minutos.1               int64
Segundos.1            float64
Clave municipio         int64
Estado                 object
Municipio              object
Predio                 object
Causa                  object
Fecha Inicio           object
Fecha Termino          object
Mes Acontecimiento     object
Duración días          object
Tipo de incendio       object
Tipo Vegetacion        object
Tipo Impacto           object
Arbolado Adulto         int64
Renuevo                 int64
Arbustivo               int64
Herbaceo                int64
Hojarasca               int64
Suelo Organico          int64
Total Hectareas         int64
Tamaño                 object
Deteccion              object
Llegada                object
Duracion HMS           object
Duracion H            float64
Costos MXN            float64
Superficie Salvada    float64
CO2 emitido           float64
CO2 Evito emitir      float64
Region                 object
dtype: object

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre los principales características estadísticas de parámetro cuantitativo  </li>
</ul>
</div>

In [7]:
#
df.describe()

,Número de Incendio,Minutos,Segundos,Grados.1,Minutos.1,Segundos.1,Clave municipio,Arbolado Adulto,Renuevo,Arbustivo,Herbaceo,Hojarasca,Suelo Organico,Total Hectareas,Duracion H,Costos MXN,Superficie Salvada,CO2 emitido,CO2 Evito emitir
count,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8.872000e+03,8872.000000,8.872000e+03,8.872000e+03
mean,321.784378,26.552750,29.518481,99.877480,27.684851,29.526105,54.905207,2.432372,1.665577,21.021190,32.638413,23.082732,0.595469,81.409829,6.204995,1.712718e+04,1239.907328,2.982856e+03,4.680880e+04
std,310.332721,17.943577,17.330145,9.732331,17.690869,17.477507,67.260830,44.084256,16.747957,203.451119,331.118147,190.777683,11.336051,613.414613,6.292960,1.056273e+05,9349.790127,2.631238e+04,4.128974e+05
min,1.000000,0.000000,0.000000,-101.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.100000e+01,0.150000,0.000000e+00,0.000000e+00
25%,84.000000,10.000000,14.500000,98.000000,12.000000,14.400000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.250000,2.684050e+03,22.860000,5.324000e+01,8.181300e+02
50%,223.000000,25.000000,29.170000,99.000000,27.000000,29.200000,32.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,5.000000,4.000000,4.533445e+03,70.110000,1.681800e+02,2.640025e+03
75%,470.000000,42.000000,44.500000,103.000000,43.000000,44.700000,80.000000,0.000000,0.000000,5.000000,6.000000,2.000000,0.000000,23.000000,7.602500,8.800000e+03,350.570000,8.031575e+02,1.270823e+04
max,1450.000000,59.000000,60.000000,117.000000,59.000000,83.000000,570.000000,3000.000000,755.000000,12755.000000,14000.000000,7069.000000,650.000000,21538.000000,220.000000,3.785356e+06,328282.200000,1.705756e+06,2.634777e+07

<div class="alert alert-success">
    
1. a) Encontrar el Total de Hectareas afectadas por estado. b) Encontrar el Total de Hectareas afectadas por estado, ordenando los datos de mayor a menor
    
</div>

In [33]:
# a) Encontrar el Total de Hectáreas afectadas por estado
df.groupby('Estado')['Total Hectareas'].sum().reset_index()

                 Estado  Total Hectareas
0        Aguascalientes             4734
1       Baja California            50957
2   Baja California Sur               77
3              Campeche            13822
4               Chiapas            13021
5             Chihuahua            87285
6      Ciudad de México             2367
7              Coahuila            10303
8                Colima             2031
9               Durango            40323
10           Guanajuato             7665
11             Guerrero            24079
12              Hidalgo             2978
13              Jalisco           189816
14            Michoacán            14452
15              Morelos             3422
16               México            11932
17              Nayarit            32299
18           Nuevo León              733
19               Oaxaca            41718
20               Puebla            10571
21            Querétaro             2556
22         Quintana Roo             9628
23      San Luis Potosí             4383
24              Sinaloa             3354
25               Sonora           101072
26              Tabasco              989
27           Tamaulipas             2670
28             Tlaxcala             2452
29             Veracruz             3258
30              Yucatán            11012
31            Zacatecas            16309

In [32]:
# b) Encontrar el Total de Hectareas afectadas por estado, ordenando los datos de mayor a menor
df.groupby('Estado')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending=False)

                 Estado  Total Hectareas
13              Jalisco           189816
25               Sonora           101072
5             Chihuahua            87285
1       Baja California            50957
19               Oaxaca            41718
9               Durango            40323
17              Nayarit            32299
11             Guerrero            24079
31            Zacatecas            16309
14            Michoacán            14452
3              Campeche            13822
4               Chiapas            13021
16               México            11932
30              Yucatán            11012
20               Puebla            10571
7              Coahuila            10303
22         Quintana Roo             9628
10           Guanajuato             7665
0        Aguascalientes             4734
23      San Luis Potosí             4383
15              Morelos             3422
24              Sinaloa             3354
29             Veracruz             3258
12              Hidalgo             2978
27           Tamaulipas             2670
21            Querétaro             2556
28             Tlaxcala             2452
6      Ciudad de México             2367
8                Colima             2031
26              Tabasco              989
18           Nuevo León              733
2   Baja California Sur               77

<div class="alert alert-success">
    
2. Encontrar el tiempo promedio de los incendios por estado, ordenando los datos de mayor a menor
    
</div>

In [35]:
df.groupby('Estado')['Duracion H'].mean().reset_index().sort_values('Duracion H', ascending=False)

                 Estado  Duracion H
27           Tamaulipas   11.441176
24              Sinaloa   11.405870
25               Sonora   11.177286
4               Chiapas   10.777897
17              Nayarit   10.327909
19               Oaxaca    9.135556
10           Guanajuato    8.970185
26              Tabasco    8.933500
11             Guerrero    8.809113
13              Jalisco    8.664519
23      San Luis Potosí    8.568452
9               Durango    8.498481
22         Quintana Roo    8.468750
18           Nuevo León    8.028298
3              Campeche    7.896552
31            Zacatecas    7.497907
7              Coahuila    7.068377
8                Colima    7.063452
21            Querétaro    6.407778
0        Aguascalientes    6.359241
14            Michoacán    6.262907
29             Veracruz    6.253992
30              Yucatán    6.250000
5             Chihuahua    6.187698
20               Puebla    5.942788
1       Baja California    5.672073
12              Hidalgo    4.665182
15              Morelos    4.315219
2   Baja California Sur    3.868571
6      Ciudad de México    3.497871
16               México    3.189738
28             Tlaxcala    3.097314

<div class="alert alert-success">
    
3. ¿Cuáles son los diferentes tipos de causas de incendios según los datos?
    
</div>

In [37]:
df['Causa'].unique().tolist()

['INTENCIONAL',
 'ACTIVIDADES AGROPECUARIAS',
 'FOGATAS',
 'FUMADORES',
 'OTRAS CAUSAS',
 'CAZADORES',
 'LIMPIAS DE DERECHO DE VÍA',
 'NATURALES',
 'QUEMA DE BASUREROS',
 'RESIDUOS DE APROVECHAMIENTO FORESTAL',
 'FESTIVIDADES Y RITUALES',
 'OTRAS ACTIVIDADES PRODUCTIVAS',
 'TRANSPORTES',
 'ACTIVIDADES \nAGROPECUARIAS',
 'FOGATAS ']

<div class="alert alert-success">
    
4. ¿Cuál es el total de Hectáreas afectadas según las causas de los incendios? Ordenar los datos de mayor a menor

    
</div>

In [38]:
df.groupby('Causa')['Total Hectareas'].mean().reset_index().sort_values('Total Hectareas', ascending=False)

                                   Causa  Total Hectareas
9                              NATURALES       793.080000
8              LIMPIAS DE DERECHO DE VÍA       310.222222
11                          OTRAS CAUSAS       229.905579
2                              CAZADORES        79.494424
6                              FUMADORES        66.741797
1              ACTIVIDADES AGROPECUARIAS        60.490538
12                    QUEMA DE BASUREROS        57.291391
7                            INTENCIONAL        43.520143
4                                FOGATAS        37.774093
10         OTRAS ACTIVIDADES PRODUCTIVAS        34.390135
13  RESIDUOS DE APROVECHAMIENTO FORESTAL        33.954545
14                           TRANSPORTES        19.600000
3                FESTIVIDADES Y RITUALES        14.272727
0            ACTIVIDADES \nAGROPECUARIAS         2.200000
5                               FOGATAS          2.000000

<div class="alert alert-success">
    
5. ¿Cuáles son los diferentes tipos de impactos según los datos?
    
</div>

In [41]:
df['Tipo Impacto'].unique().tolist()

['IMPACTO MÍNIMO', 'IMPACTO MODERADO', 'IMPACTO SEVERO']

<div class="alert alert-success">
    
6. ¿Cuáles es el total de costos por cada tipo de impacto ?
    
</div>

In [44]:
df.groupby('Tipo Impacto')['Costos MXN'].sum().reset_index()

       Tipo Impacto    Costos MXN
0  IMPACTO MODERADO  3.820436e+07
1    IMPACTO MÍNIMO  1.057902e+08
2    IMPACTO SEVERO  7.957767e+06

<div class="alert alert-success">
    
7. Muestre los 10 estados con mayor superficie afectada (Total Hectareas). ¿En que lugar esta Yucatán?
    
</div>

In [45]:
df.groupby('Estado')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending=False).head(10)

             Estado  Total Hectareas
13          Jalisco           189816
25           Sonora           101072
5         Chihuahua            87285
1   Baja California            50957
19           Oaxaca            41718
9           Durango            40323
17          Nayarit            32299
11         Guerrero            24079
31        Zacatecas            16309
14        Michoacán            14452

Ordenando los estados por área afectada de mayor a menor, Yucatán se encuentra en el lugar 14.

<div class="alert alert-success">
    
8. Definir un nuevo *DataFrame* llamado df_yucatan el cual solo tenga datos de Yucatan.  Muestre la efectación total de superficie (Total Hectareas) en los diferentes municipios en Yucatán
    
</div>

In [54]:
df_yucatan = df[df['Estado']=='Yucatán']
df_yucatan.groupby('Municipio')['Total Hectareas'].sum().reset_index()

          Municipio  Total Hectareas
0             Abalá              308
1         Cacalchén              900
2          Calotmul               60
3          Celestún                2
4            Chemax               94
5   Dzilam de Bravo              904
6           Hunucmá             1643
7            Izamal              331
8           Mocochá              110
9             Motul               87
10        Oxkutzcab               20
11     Río Lagartos             1304
12          Sacalum              243
13            TEKAX                3
14            Tekax              628
15            Tekit              575
16          Temozón               23
17            Tetiz               35
18         Tixkokob             1031
19          Tizimín             1654
20         Tzucacab              611
21       Valladolid               63
22          Yaxcabá              383

<div class="alert alert-success">
    
9. Utilizando *DataFrame* "df_yucatan", muestre la afectación total de superficie en los diferentes meses (Mes Acontecimiento) ordenado de Mayor a menor. ¿Cuál es el mes más propenso a los incendios?
    
</div>

In [57]:
df_yucatan.groupby('Mes Acontecimiento')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending=False)

  Mes Acontecimiento  Total Hectareas
4              marzo             4324
5               mayo             1943
1             agosto             1928
3            febrero             1566
0              abril              975
2              enero              276

Durante el mes de Marzo ocurren más incendios

<div class="alert alert-success">
    
10. Utilizando el *DataFrame* "df_yucatan", muestre los costos de los incendios en los diferentes municipios en Yucatán
    
</div> 
    
</div>

In [58]:
df_yucatan.groupby('Municipio')['Costos MXN'].sum().reset_index()

          Municipio  Costos MXN
0             Abalá    184965.0
1         Cacalchén    744736.0
2          Calotmul    106200.0
3          Celestún      2300.0
4            Chemax     62510.0
5   Dzilam de Bravo    384021.0
6           Hunucmá   1216936.0
7            Izamal     37260.0
8           Mocochá     73432.0
9             Motul     52540.0
10        Oxkutzcab     70130.0
11     Río Lagartos     76520.0
12          Sacalum    177590.0
13            TEKAX     12595.0
14            Tekax    292368.0
15            Tekit    199360.0
16          Temozón      7980.0
17            Tetiz     13200.0
18         Tixkokob    789645.0
19          Tizimín    405535.0
20         Tzucacab    234890.0
21       Valladolid     46820.0
22          Yaxcabá     22890.0