<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Pandas -Parte 1  </h1></center>

<center><h2 style="font-size:2em;color:#840700">  Pandas - Series y DataFrames  </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/WesM.png" align="left" style="width:500px"/></td>
<td>

* **Wes McKinney**, empezó a desarrollar Pandas en el año 2008 mientras trabajaba en *AQR Capital* [https://www.aqr.com/] por la necesidad que tenía de una herramienta flexible de alto rendimiento para realizar análisis cuantitativos en datos financieros. 
* Antes de dejar AQR convenció a la administración de la empresa de distribuir esta biblioteca bajo licencia de código abierto.
* **Pandas** es un acrónimo de **PANel DAta analysiS**
   
    
<br>
</td>
</tr>
</table>

# Librerías

Cargando las bibliotecas que necesitamos

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Introduccion

* Pandas es un paquete de Python que proporciona estructuras de datos rápidas, flexibles y expresivas diseñadas para hacer que el trabajo con datos "relacionales" o "etiquetados" sea fácil e intuitivo. 
* Pretende ser el elemento fundamental de alto nivel para realizar análisis de datos prácticos y del mundo real en Python.
* La documentación oficial de Pandas se puede encontrar en el siguiente link https://pandas.pydata.org/pandas-docs/stable/


<img align="left" width=60% src="figuras/pandas2.jpeg">

Características principales de uso:
* Ingestión de datos (Data ingestion)
* Estadística descriptiva
* Limpieza de datos
* Visualización
* Transformación de datos
* Combinando DataFrames
* Manejo datos utilizando una variable temporal

# Estructuras de datos en Pandas : Series y DataFrames

Pandas proporciona dos tipos de datos fundamentales, para 1D (**Series**) y datos 2D (**DataFrame**).


<img align="left" width=75% src="figuras/SeriesYDataFrame.png">

<img align="left" width=60% src="figuras/DataFrame.png">

En el nivel más básico, los objetos Pandas se pueden considerar como versiones mejoradas de matrices estructuradas NumPy en las que las filas y columnas se identifican con etiquetas en lugar de índices enteros simples. Como veremos durante el transcurso de esta unidad, Pandas proporciona una serie de herramientas, métodos y funcionalidades útiles además de las estructuras de datos básicas. Por lo tanto, introduzcamos estas tres estructuras de datos fundamentales de Pandas: **Series** y **DataFrames**.

# Las Series
Las **Series** de Pandas son un arreglos unidimensionales de datos indexados. Se pueden crear a partir de una lista o arreglo de la siguiente manera:

In [4]:
 #Ejemplo

data = pd.Series([9, 0.25, 1, 1.5, 3, 8.9])
data
#print(data)

0    9.00
1    0.25
2    1.00
3    1.50
4    3.00
5    8.90
dtype: float64

Como vemos en la salida anterior, la **Serie** envuelve cuenta con una secuencia de ``índices`` como  de ``valores``. Los ``valores`` son simplemente un arreglo de NumPy

In [5]:
#Valores
data.values #obtiene los valores como un arreglo de numpy

array([9.  , 0.25, 1.  , 1.5 , 3.  , 8.9 ])

Y para conocer la secuencia de los ``índices`` podemos usar:

In [6]:
#Indices
data.index

RangeIndex(start=0, stop=6, step=1)

Al igual que con un arreglo de NumPy, se puede acceder a los datos mediante el índice asociado a través de la conocida notación de corchetes de Python:

In [7]:
data[0]

9.0

In [10]:
data[2:] #conjunto de elementos

2    1.0
3    1.5
4    3.0
5    8.9
dtype: float64

## Las Series:  arreglos generalizados de NumPy

Por lo que hemos visto hasta ahora, puede parecer que las **Series** son básicamente intercambiables con arreglos unidimensionales de NumPy. La diferencia esencial es la presencia de los índices: mientras que los arreglos de Numpy tienen un índice entero definido implícitamente que se utiliza para acceder a los valores (índices asociados a la posición), las Series de Pandas tiene índices definidos explícitamente asociados con los valores. Esta definición de índice explícita le da a las Series características  adicionales. 

Por ejemplo, no es necesario que el índice sea un número entero.

In [11]:
data = pd.Series([9, 0.25, 1, 1.5, 3, 8.9],
                index=['a', 'b', 'c', 'd', 'x', 'y'] #agregando los índices como una lista
                )
print(data)

a    9.00
b    0.25
c    1.00
d    1.50
x    3.00
y    8.90
dtype: float64

Y el acceso a cada elemento funciona con su respectivo índice:

In [13]:
 data['d'] #accediendo a través de su índice como si fuera una etiqueta

1.5

Incluso podemos utilizar índices no contiguos o no secuenciales:

In [14]:
 data = pd.Series([9, 0.25, 1, 1.5, 3, 8.9],
                index=[5, 1, 3, 2, 4, 0] #agregando los índices como una lista
                )
print(data)

5    9.00
1    0.25
3    1.00
2    1.50
4    3.00
0    8.90
dtype: float64

## Las Series y  diccionarios de Python

Se puede considerar que una **Serie** es similar a un diccionario ordenado que asigna un valor a una etiqueta, de hecho, es posible construir una serie directamente desde un diccionario de Python:

In [17]:
poblacion_diccionario = {'California': 38.3,
                   'Texas': 26.4,
                   'New York': 19.6,
                   'Florida': 19.5,
                   'Illinois': 12.8,
                   'Washington': 17.5,     
                             }

# Crar la Serie llamada poblacion
poblacion = pd.Series(poblacion_diccionario)
print(poblacion)

California    38.3
Texas         26.4
New York      19.6
Florida       19.5
Illinois      12.8
Washington    17.5
dtype: float64

De forma predeterminada, se creará una **Serie** donde el índice se extrae de las etiquetas ordenadas y se puede realizar el acceso típico a elementos al estilo de un diccionario de Python:

In [19]:
#acceder al valor de la etiqueta
poblacion['California']

38.3

Sin embargo, a diferencia de un diccionario, las **Series** también admiten operaciones de segmentación:

In [22]:
 poblacion['California':'Florida'] #el límite si se incluye

California    38.3
Texas         26.4
New York      19.6
Florida       19.5
dtype: float64

Discutiremos algunas de las peculiaridades de la indexación y segmentación de Pandas en las siguientes lecciones.

# DataFrames

La siguiente estructura fundamental en Pandas es el **DataFrame**. Al igual que las **Series** presentadas en la sección anterior, los  **DataFrame** se pueden considerar como una generalización de arreglos de NumPy o como   diccionarios especializados de Python.

## DataFrame como un arreglo generalizado de NumPy


Si una **Serie** es un análogo de un arreglo unidimensional con índices flexibles, un **DataFrame** es un análogo de un arreglo bidimensional con índices de filas flexibles y nombres de columnas flexibles.
Así como podría pensar en un arreglo bidimensional como una secuencia ordenada de columnas unidimensionales alineadas, se puede pensar en un **DataFrame** como una secuencia de objetos alineados de **Serie**,  por *alineados* queremos decir que comparten el mismo índice.

Para demostrar esto, construyamos primero una nueva **Serie** que enumere el área de cada uno de los  estados mostrados en la sección anterior:

In [24]:
area_diccionario = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995,'Washington': 289990}
#Crear la serie llamada area
area = pd.Series(area_diccionario)
area #print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Washington    289990
dtype: int64

Ahora que tenemos esto junto con la serie de población de anterior, podemos usar un diccionario para construir un único objeto bidimensional que contenga esta información:

In [26]:
#Crear la serie llamada estados
estados = pd.DataFrame({'etiqueta_poblacion' : poblacion, 
                        'etiqueta_area' : area}) #crea un diccionario
#toma las etiquetas existentes y les asigna los valores
estados

            etiqueta_poblacion  etiqueta_area
California                38.3         423967
Texas                     26.4         695662
New York                  19.6         141297
Florida                   19.5         170312
Illinois                  12.8         149995
Washington                17.5         289990

Como en las **Series**, el **DataFrame** tiene un atributo de ``index`` que da acceso a las etiquetas del índice:

In [27]:
#indices
estados.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois', 'Washington'], dtype='object')

Además, el **DataFrame** tiene un atributo ``columns``  que contiene las etiquetas de las columnas:

In [29]:
#Columnas
estados.columns

Index(['etiqueta_poblacion', 'etiqueta_area'], dtype='object')

Thus the ``DataFrame`` can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### DataFrame como un diccionario especializado

Se puede  pensar en un **DataFrame** como una diccionario especializado, ya que un **DataFrame** además asigna un nombre a cada columna. Por ejemplo, al pedir el 'area' obtendremos los elementos de la columna 'area':

In [31]:
#dataframe
estados

            etiqueta_poblacion  etiqueta_area
California                38.3         423967
Texas                     26.4         695662
New York                  19.6         141297
Florida                   19.5         170312
Illinois                  12.8         149995
Washington                17.5         289990

In [35]:
# area
estados['etiqueta_area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Washington    289990
Name: etiqueta_area, dtype: int64

De igual manera para la columna 'poblacion'

In [34]:
#Población
estados['etiqueta_poblacion']

California    38.3
Texas         26.4
New York      19.6
Florida       19.5
Illinois      12.8
Washington    17.5
Name: etiqueta_poblacion, dtype: float64

### Construyendo DataFrames

Un **DataFrame** de Pandas se puede construir de varias formas utilizando la función ``DataFrame``. Aquí daremos varios ejemplos.

#### a) Utilizando una Serie

Un **DataFrame** es una colección de **Series**, y un **DataFrame** de una sola columna se puede construir a partir de una sola **Serie**:

In [38]:
#crea un dataframe a partir de una serie
#pd.DataFrame(poblacion) 

#dada una serie crea un dataframe con un encabezado
pd.DataFrame(poblacion, columns=['Población en millones'])

            Población en millones
California                   38.3
Texas                        26.4
New York                     19.6
Florida                      19.5
Illinois                     12.8
Washington                   17.5

#### b) Lista de diccionarios


Un conjunto de diccionarios se pueden convertir en un **DataFrame**.

In [41]:
diccionario = {'a': {'x':1, 'y':2, 'z':3},
               'b': {'x':11, 'y':12, 'z':13}
              }
pd.DataFrame(diccionario) #toma las etiquetas principales como columnas y las secundarias como filas y crea un dataframe

   a   b
x  1  11
y  2  12
z  3  13


Incluso si faltan algunos elementos en los diccionarios, Pandas las completará con valores ``NaN`` (es decir, "not a number"):

In [42]:
diccionario = {'a': {'x':1, 'y':2, 'z':3, 'm':5},
               'b': {'x':11, 'y':12, 'z':13, 'n':10}
              }
pd.DataFrame(diccionario)

     a     b
x  1.0  11.0
y  2.0  12.0
z  3.0  13.0
m  5.0   NaN
n  NaN  10.0

#### c) Desde un arreglo bidimensional de  NumPy 

Dada un arreglo bidimensional de datos, podemos crear un **DataFrame** con cualquier columna e índice especificado. Si se omite, se utilizará un índice entero para cada uno

In [43]:
# np.random.rand(3, 2)
arreglo2D = np.random.rand(3, 2) #utiliza la funcion random y crea un arreglo de 3 filas con 2 columnas
arreglo2D

array([[0.97545451, 0.47102817],
       [0.573464  , 0.74058784],
       [0.08888557, 0.22618403]])

In [46]:
# Cuando se especifican los índices de filas y columnas

#Crea un dataframe a partir de un arreglo bidimensional y especifica las etiquetas de las filas y las columnas
pd.DataFrame(arreglo2D,
            columns=['A', 'B'],
            index=['x', 'y', 'z'])

          A         B
x  0.975455  0.471028
y  0.573464  0.740588
z  0.088886  0.226184

In [48]:
# Cuando se especifican los índices solo en columnas
pd.DataFrame(arreglo2D,
            columns=['A', 'B'])

          A         B
0  0.975455  0.471028
1  0.573464  0.740588
2  0.088886  0.226184

In [49]:
# Cuando no se especifican los índices 
pd.DataFrame(arreglo2D)

          0         1
0  0.975455  0.471028
1  0.573464  0.740588
2  0.088886  0.226184

Para manejar de una manera eficiente los **DataFrame** se recomienda siempre asignar nombres a las columnas

#### d)  Combinando  Series

Como vimos antes, un **DataFrame** también se puede construir a partir de **Series**

In [51]:
# poblacion + area

pd.DataFrame({'e_poblacion' : poblacion, 
               'e_area' : area}) #el valor lleva el nombre de la serie, las etiquetas no necesariamente

            e_poblacion  e_area
California         38.3  423967
Texas              26.4  695662
New York           19.6  141297
Florida            19.5  170312
Illinois           12.8  149995
Washington         17.5  289990

#####  Ejemplo de un DataFrame a partir de Series y Series a partir de diccionarios

Definiremos un DataFrame utilizando 5 diferentes Series, y las Series a partir de Diccionarios utilizando información de Pokémon. Consideraremos 2 variables cuantitativas (altura y peso ) y 3 cualitativas (categoría, tipo y debilidad)

[https://www.lavanguardia.com/tecnologia/20160907/403442078796/todos-pokemon.html]

<img align="left" width=75% src="figuras/pokemones.png">

**1. Diccionarios**

In [52]:
bulbasaur_diccionario = {'Altura': 0.7, 'Peso': 6.9, 'Categoría': 'Semilla',
             'Tipo': 'Planta', 'Debilidad':  'Hielo y fuego'}
bulbasaur = pd.Series(bulbasaur_diccionario)
bulbasaur

Altura                 0.7
Peso                   6.9
Categoría          Semilla
Tipo                Planta
Debilidad    Hielo y fuego
dtype: object

In [53]:
charmander_diccionario = {'Altura': 0.6, 'Peso': 8.5, 'Categoría': 'Lagartija',
             'Tipo': 'Fuego', 'Debilidad':  'Tierra y agua'}
charmander = pd.Series(charmander_diccionario)
charmander

Altura                 0.6
Peso                   8.5
Categoría        Lagartija
Tipo                 Fuego
Debilidad    Tierra y agua
dtype: object

In [54]:
squirtle_diccionario = {'Altura': 0.5, 'Peso': 9.0, 'Categoría': 'Tortuga',
              'Debilidad':  'Electricidad'}
squirtle = pd.Series(squirtle_diccionario)
squirtle

Altura                0.5
Peso                  9.0
Categoría         Tortuga
Debilidad    Electricidad
dtype: object

In [55]:
caterpie_diccionario = {'Altura': 0.3, 'Peso': 2.9, 'Categoría': 'Gusano',
             'Tipo':  'Bicho'}
caterpie = pd.Series(caterpie_diccionario)
caterpie

Altura          0.3
Peso            2.9
Categoría    Gusano
Tipo          Bicho
dtype: object

In [56]:
pidgey_diccionario = {'Altura': 0.3, 'Peso': 1.8, 'Debilidad':  'Hielo'}
pidgey = pd.Series(pidgey_diccionario)
pidgey

Altura         0.3
Peso           1.8
Debilidad    Hielo
dtype: object

**2. Series**

In [57]:
df_pokemones= pd.DataFrame({'Bulbasaur':bulbasaur,
              'Charmander': charmander, 
              'Squirtle': squirtle, 
              'Caterpie': caterpie, 
              'Pidgey': pidgey,               
             })
df_pokemones

               Bulbasaur     Charmander      Squirtle Caterpie Pidgey
Altura               0.7            0.6           0.5      0.3    0.3
Categoría        Semilla      Lagartija       Tortuga   Gusano    NaN
Debilidad  Hielo y fuego  Tierra y agua  Electricidad      NaN  Hielo
Peso                 6.9            8.5           9.0      2.9    1.8
Tipo              Planta          Fuego           NaN    Bicho    NaN

# Ejercicio

<div class="alert alert-success">

**Creación de un DataFrame con series y diccionarios**
    
1. Definir un DataFrame a partir de 5 series y cada Serie a partir de un diccionario (de algún mismo tópico), considerando  6 características diferentes y combinando tipos de variables (cuantitativas y cualitativas), también puede omitir algunos valores. 
</div>

Ejemplo:


``` python
Alan = pd.Series({'Edad': 20 ,
                  'Altura': 1.70,
                  'Peso': 68,
                  'Estado': 'Yucatán',
                  'Color favorito':'Azul',
                  'Licenciatura': 'Derecho'})
María = pd.Series({'Edad': 21 ,
                   'Altura': 1.80,
                   'Peso': 80,
                   'Color favorito':'Rojo',
                   'Licenciatura': 'Ingeniería'})
Pedro = pd.Series({'Edad': 23 ,
                   'Altura': 1.67,
                   'Peso': 75,
                   'Estado': 'Aguascalientes',
                   'Color favorito':'Morado',
                   'Licenciatura': 'Artes'})
Esmeralda = pd.Series({'Edad': 25 ,
                       'Altura': 1.72,
                       'Peso': 60,
                       'Estado': 'Campeche',
                       'Licenciatura': 'Turismo'})
Karen = pd.Series({'Edad': 25 ,
                  'Altura': 1.74,
                  'Peso': 69,
                  'Estado': '',
                  'Color favorito':'Azul',
                  'Licenciatura': 'Psicología'})

df_alumnos = pd.DataFrame({'Alan':Alan,
                           'María': María, 
                           'Pedro': Pedro, 
                           'Esmeralda': Esmeralda, 
                           'Karen': Karen
                           })
df_alumnos

>>

                   Alan       María           Pedro Esmeralda       Karen
Altura              1.7         1.8            1.67      1.72        1.74
Color favorito     Azul        Rojo          Morado       NaN        Azul
Edad                 20          21              23        25          25
Estado          Yucatán         NaN  Aguascalientes  Campeche            
Licenciatura    Derecho  Ingeniería           Artes   Turismo  Psicología
Peso                 68          80              75        60          69


```

In [9]:
Soobin = pd.Series({'Grupo': 'Tomorrow X Together',
                    'Empresa': 'BigHit Music',
                    'Posición': 'Líder',
                    'Nacionalidad': 'Coreano',
                    'Estatura': 1.85,
                    'Edad': 22})
Mark = pd.Series({'Grupo': 'NCT 127/Dream',
                  'Empresa': 'SM Entertainment',
                  'Posición': 'Rapero',
                  'Nacionalidad': 'Canadiense',
                  'Estatura': 1.75,
                  'Edad': 24})
Xiaojun = pd.Series({'Grupo': 'WayV',
                     'Empresa': 'LABEL V',
                     'Posición': 'Vocalista',
                     'Nacionalidad': 'Chino',
                     #'Estatura': '1.72',
                     'Edad': 24})
Seeun = pd.Series({'Grupo': 'StayC',
                   'Empresa': 'High Up Entertainment',
                   'Posición': 'Vocalista',
                   'Nacionalidad': 'Coreana',
                   'Estatura': 1.65,
                   'Edad': 20})
Bahiyyih = pd.Series({'Grupo': 'Kep1er',
                      'Empresa': 'WAKE ONE',
                      'Posición': 'Bailarina',
                      #'Nacionalidad': '',
                      'Estatura': 1.66,
                      'Edad': 19})

df_idols = pd.DataFrame({'Soobin':Soobin,
                         'Mark':Mark,
                         'Xiaojun':Xiaojun,
                         'Seeun':Seeun,
                         'Bahiyyih':Bahiyyih
                        })

df_idols

,Soobin,Mark,Xiaojun,Seeun,Bahiyyih
Edad,22,24,24,20,19
Empresa,BigHit Music,SM Entertainment,LABEL V,High Up Entertainment,WAKE ONE
Estatura,1.85,1.75,NaN,1.65,1.66
Grupo,Tomorrow X Together,NCT 127/Dream,WayV,StayC,Kep1er
Nacionalidad,Coreano,Canadiense,Chino,Coreana,NaN
Posición,Líder,Rapero,Vocalista,Vocalista,Bailarina

<div class="alert alert-success">
    
**Creación de un DataFrame vacío**
    
2. Definir un DataFrame que contenga un listado de 5 datos de 10 personas (utilizar el método del siguiente ejemplo). 
</div>

Ejemplo:


``` python
import pandas as pd
df = pd.DataFrame()
df['first_name'] = ['Josy', 'Vaughn', 'Neale', 'Teirtza']
df['last_name'] = ['Clarae', 'Halegarth', 'Georgievski', 'Teirtza']
df['gender'] = ['Female', 'Male', 'Male', 'Female']
print(df)


  first_name    last_name  gender
0       Josy       Clarae  Female
1     Vaughn    Halegarth    Male
2      Neale  Georgievski    Male
3    Teirtza      Teirtza  Female

```

In [36]:
import pandas as pd
df = pd.DataFrame()
df['Nombre'] = ['Victoria', 'Pedro', 'Maria', 'Santiago', 'Estefania', 'Paola', 'Pauly', 'Carlos', 'Karla', 'Andrea']
df['Apellido'] = ['Ortega', 'Sarmiento', 'Arias', 'Ortega', 'Perera', 'González', 'Acal', 'Sáenz', 'Leyva', 'Solis']
df['Edad'] = ['22', '18', '24', '19', '20', '25', '21', '24', '24', '27']
df['Licenciatura'] = ['Diseño y comunicación', 'Comercio Internacional', 'Veterinaria', 'Ing. en Software', 'Derecho', 'Derecho', 'Biología', 'Ing. en Mecatrónica', 'Ing. Renovable', 'Literatura']
df['Universidad'] = ['UVM', 'Anáhuac', 'UADY', 'Modelo', 'UADY', 'Anáhuac', 'UADY', 'UADY', 'UADY', 'UADY']
df

      Nombre   Apellido Edad            Licenciatura Universidad
0   Victoria     Ortega   22   Diseño y comunicación         UVM
1      Pedro  Sarmiento   18  Comercio Internacional     Anáhuac
2      Maria      Arias   24             Veterinaria        UADY
3   Santiago     Ortega   19        Ing. en Software      Modelo
4  Estefania     Perera   20                 Derecho        UADY
5      Paola   González   25                 Derecho     Anáhuac
6      Pauly       Acal   21                Biología        UADY
7     Carlos      Sáenz   24     Ing. en Mecatrónica        UADY
8      Karla      Leyva   24          Ing. Renovable        UADY
9     Andrea      Solis   27              Literatura        UADY

<div class="alert alert-success">

**Creación de un DataFrame vacío con columnas**

3. Definir un DataFrame que contenga un listado de 4 parámetros de 6 modelos de automóviles (utilizar el método del siguiente ejemplo). 
</div>

Ejemplo:


``` python
import pandas as pd
df = pd.DataFrame()
df = pd.DataFrame(columns=['first_name', 'last_name', 'gender'])
df = df.append({'first_name': 'Josy', 'last_name':'Clarae', 'gender':'Female'}, ignore_index=True)
df = df.append({'first_name': 'Vaughn', 'last_name':'Halegarth', 'gender':'Male'}, ignore_index=True)
print(df)


  first_name  last_name  gender
0       Josy     Clarae  Female
1     Vaughn  Halegarth    Male
```

In [37]:
import pandas as pd
#df = pd.DataFrame()
#df = pd.DataFrame(columns=['Marca', 'Modelo', 'Motor', 'Transmisión'])
#df = df.concat({'Marca': 'Volkswagen', 'Modelo':'Jetta', 'Motor':'1.4 L TSI', 'Transmisión':'Manual 6'}, ignore_index=True)
#df = df.append({'Marca': 'Toyota', 'Modelo':'Corolla', 'Motor':'1.8 L TDI', 'Transmisión':'CVT'}, ignore_index=True)
#df = df.append({'Marca': 'Chrysler', 'Modelo':'Pacífica', 'Motor':'3.6 L PENTASTAR V6', 'Transmisión':'Automática 9'}, ignore_index=True)
#df = df.append({'Marca': 'Jeep', 'Modelo':'Renegade', 'Motor':'1.3 L Turbo GSE', 'Transmisión':'Automática 6'}, ignore_index=True)
#df = df.append({'Marca': 'Chevrolet', 'Modelo':'Aveo', 'Motor':'1.5 L', 'Transmisión':'Manual 5'}, ignore_index=True)
#df = df.append({'Marca': 'Nissan', 'Modelo':'Versa', 'Motor':'1.6 L', 'Transmisión':'Manual 5'}, ignore_index=True)
#print(df)

column_keys = [['Marca', 'Modelo', 'Motor', 'Transmisión']]

data = [[]]

data.append(['Volkswagen', 'Jetta', '1.4 L TSI', 'Manual 6'])
data.append(['Toyota', 'Corolla', '1.8 L TDI', 'CVT'])
data.append(['Chrysler', 'Pacífica', '3.6 L PENTASTAR V6', 'Automática 9'])
data.append(['Jeep', 'Renegade', '1.3 L Turbo GSE', 'Automática 6'])
data.append(['Chevrolet', 'Aveo', '1.5 L', 'Manual 5'])
data.append(['Nissan', 'Versa', '1.6 L', 'Manual 5'])

df = pd.DataFrame(data, columns = column_keys)
df

        Marca    Modelo               Motor   Transmisión
0        None      None                None          None
1  Volkswagen     Jetta           1.4 L TSI      Manual 6
2      Toyota   Corolla           1.8 L TDI           CVT
3    Chrysler  Pacífica  3.6 L PENTASTAR V6  Automática 9
4        Jeep  Renegade     1.3 L Turbo GSE  Automática 6
5   Chevrolet      Aveo               1.5 L      Manual 5
6      Nissan     Versa               1.6 L      Manual 5

<div class="alert alert-success">

**Creación de un DataFrame vacío con columnas e índices**

4. Definir un DataFrame que contenga un listado de 4 parámetros de 6 modelos de celulares (utilizar el método del siguiente ejemplo). 
</div>

Ejemplo:


``` python
import pandas as pd
df = pd.DataFrame()
df = pd.DataFrame(columns=['first_name', 'last_name', 'gender'],index=range(3))
df.iloc[0] = ['Josy', 'Clarae', 'Female']
df.iloc[1] = ['Vaughn', 'Halegarth', 'Male']
df.iloc[2] = ['Neale', 'Georgievski', 'Male']
print(df)


  first_name  last_name  gender
0       Josy     Clarae  Female
1     Vaughn  Halegarth    Male
```

In [38]:
import pandas as pd
df = pd.DataFrame()
df = pd.DataFrame(columns=['Marca', 'Modelo', 'Almacenamiento', 'Sistema operativo'],index=range(6))
df.iloc[0] = ['Samsung', 'Galaxy A54', '256 GB', 'Android']
df.iloc[1] = ['Apple', 'iPhone 14', '128 GB', 'iOS']
df.iloc[2] = ['Motorola', 'Edge 40', '256 GB', 'Android']
df.iloc[3] = ['Huawei', 'P60', '256 GB', 'EMUI']
df.iloc[4] = ['Xiaomi', 'Redmi Note 12S', '256 GB', 'MIUI']
df.iloc[5] = ['Oppo', 'Find N2 Flip', '256 GB', 'ColorOS']
df

      Marca          Modelo Almacenamiento Sistema operativo
0   Samsung      Galaxy A54         256 GB           Android
1     Apple       iPhone 14         128 GB               iOS
2  Motorola         Edge 40         256 GB           Android
3    Huawei             P60         256 GB              EMUI
4    Xiaomi  Redmi Note 12S         256 GB              MIUI
5      Oppo    Find N2 Flip         256 GB           ColorOS